body {
	background: #F3EFE0;
	color: #222222;
	margin: 0;
}

a, a:visited {
	color: #22A39F;
}

a:hover {
	color: #32C3BF;
}


#footer {
}

/* structural */

.container {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 0.25em;
}

/* tracks */

.track {
	padding: 0.25em;
	width: auto;
	display: inline-block;
}

.track:hover {
	background: #434242;
	color: #F3EFE0;
	cursor: pointer;
}

.track.selected {
	background: #434242;
	color: #F3EFE0;
}

/* player */

#player {
	background: #434242;
	color: white;
	margin-bottom: 1em;
}

#player figcaption {
	padding: 0.25em 0;
	font-size: 1.25em;
}

button {
	cursor: pointer;
	border-radius: 0;
	border: 0;
	background: #22A39F;
	color: #434242;
	font-size: 1.25em;
	padding: 0.5em;
	width: 16%;
}

button:hover {
	background: #32C3BF;
	color: #636262;
}

button.selected {
	background: #12938F;
	color: #333232;
}